
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #fafafa;
    color: #222;
}


.top-bar{
    background: #0A8A7B;
    color: #fff;
    padding: 12px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left{
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon{ width: 18px; }

.top-right a{
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}


.header{
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 32px;
    font-weight: 700;
}

.search-box{
    width: 380px;
    background: #f3f3f3;
    padding: 8px 18px;
    border-radius: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-box input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.search-icon{
    width: 18px;
}

.header-links a{
    text-decoration: none;
    color: #111;
    margin-left: 20px;
}


.nav{
    background: #f8f8f8;
    padding: 15px 60px;
    display: flex;
    gap: 30px;
}

.nav a{
    text-decoration: none;
    color: #222;
}


.breadcrumb{
    padding: 20px 60px 10px;
    color: #666;
}

.breadcrumb a{
    text-decoration: none;
    color: #777;
}


.page-title{
    padding: 0 60px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title h1{
    font-size: 32px;
    font-weight: 700;
}


.page-grid{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 40px;
}


.sidebar{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.filter-box{
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0,0,0,0.08);
}

.filter-header h3{
    font-size: 17px;
}

.filter-list{
    list-style: none;
    margin-top: 12px;
}

.filter-list li{
    padding: 6px 0;
    cursor: pointer;
    color: #444;
}

.filter-list .active{
    font-weight: 600;
    color: #111;
}

.check{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 7px 0;
}

.checked{
    font-weight: 600;
    color: #d62828;
}

.size-row button{
    padding: 6px 14px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 6px;
}


.color-row{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
}

.dot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.black{ background: #000; }
.white{ background: #eee; border: 1px solid #bbb; }
.red{ background: #ef4444; }
.blue{ background: #3b82f6; }
.yellow{ background: #eab308; }
.purple{ background: #a855f7; }
.pink{ background: #ec4899; }
.brown{ background: #78350f; }


.product-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.product-card{
    background: #fff;
    padding: 18px;
    border-radius: 14px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 6px rgba(0,0,0,0.12);
}

.product-card img{
    width: 150px;
    margin: auto;
}


.tag{
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 4px 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
}

.sale{ background: #ef4444; }
.new{ background: #22c55e; }


.fav{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}


.desc{
    font-size: 14px;
    color: #666;
    height: 35px;
    overflow: hidden;
}

.price{
    color: #ef4444;
    font-weight: 600;
    margin-top: 8px;
}

.price span{
    color: #777;
    margin-left: 6px;
}


.add-btn{
    margin-top: 14px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #111;
    background: #fff;
    cursor: pointer;
}

.add-btn:hover{
    background: #111;
    color: #fff;
}

.footer{
    background: #f3f3f3;
    padding: 60px;
    margin-top: 50px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left{
    max-width: 300px;
}

.footer-logo{
    font-size: 36px;
    font-weight: 700;
}

.footer-text{
    margin: 20px 0;
    line-height: 1.6;
    color: #555;
}

.footer-contact{
    margin: 20px 0;
}

.contact-row{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    margin-bottom: 10px;
}

.contact-icon{
    width: 22px;
    opacity: .8;
}

.send-btn{
    margin-top: 15px;
    padding: 12px 20px;
    border: 1px solid #222;
    background: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.send-btn img{
    width: 20px;
}


.footer-links{
    display: flex;
    gap: 80px;
}

.footer-col h4{
    margin-bottom: 12px;
    font-size: 18px;
}

.footer-col a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.footer-col a:hover{
    color: #0A8A7B;
}




.footer-bottom{
    margin-top: 40px;
    padding-top: 25px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social img{
    width: 24px;
    margin-left: 12px;
}

@media(max-width: 800px){
    .footer-links{
        flex-direction: column;
        gap: 40px;
        margin-top: 40px;
    }

    .footer-top{
        flex-direction: column;
        gap: 40px;
    }

    .footer-bottom{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
