
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif
}

body{
    background: #fff;
    color: #222;
}


.top-bar{
    background: #0A8A7B;
    color: white;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.top-bar-left{
    display: flex;
    align-items: center;
    gap: 8px;
}

.top-bar-left .icon{
    width: 16px;
}

.top-bar-right{
    display: flex;
    align-items: center;
    gap: 12px;
}

.top-bar-right a{
    color: white;
    text-decoration: none;
}


.main-header{
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.logo{
    font-size: 32px;
    font-weight: bold;
}


.search-box{
    width: 380px;
    display: flex;
    align-items: center;
    background: #f3f3f3;
    padding: 7px 15px;
    border-radius: 30px;
    border: 1px solid #ddd;
}

.search-box input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
}
.search-icon {
    width: 18px;
    height: 18px;
    display: block;
}


.search-btn img{
    width: 18px;
    opacity: 0.7;
}

.header-actions a{
    margin-left: 20px;
    text-decoration: none;
    color: #222;
    font-size: 15px;
}


.category-nav{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    background: #f8f8f8;
    padding: 15px;
}

.category-nav a{
    text-decoration: none;
    color: #222;
    font-size: 16px;
}


.hero{
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
    background: #ffe3e7;
    align-items: center;
}

.hero-text{
    width: 45%;
}

.discount{
    color: #8a0d0d;
    font-size: 22px;
    font-weight: bold;
}

.hero-text h2{
    font-size: 45px;
    margin: 10px 0;
}

.hero-text p{
    width: 80%;
    margin-bottom: 20px;
    font-size: 15px;
}

.btn-primary{
    background: #0A8A7B;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.hero-image img{
    width: 450px;
}


.category-cards{
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
}

.cat-card{
    width: 23%;
    background: #f4f4f4;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.cat-card h3{
    margin-bottom: 10px;
    font-size: 18px;
}

.cat-card img{
    width: 100%;
    border-radius: 10px;
}


.info-bar{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    background: #f7f7f7;
    margin-top: 20px;
}

.info-item{
    display: flex;
    align-items: center;
    gap: 15px;
}

.info-item p{
    font-size: 16px;
}

.info-icon{
    width: 35px;
}


.section-header{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 10px;
}

.section-header h2{
    font-size: 28px;
}

.section-header a{
    color: #0A8A7B;
    text-decoration: none;
}

.product-slider{
    padding: 20px 60px;
    position: relative;
    display: flex;
    align-items: center;
}
.discount-bg{
    background: #ffecec;
    padding-bottom: 40px;
}


.product-track{
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-track::-webkit-scrollbar{
    display: none;
}


.product-card{
    width: 260px;
    background: white;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.12);
}


.product-card img{
    width: 100%;
    border-radius: 10px;
}

.tag{
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 3px 10px;
    border-radius: 6px;
    font-size: 12px;
    color: white;
}

.tag.new{ background: #46c545; }
.tag.sale{ background: #ff5757; }

.fav{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}

.price{
    font-size: 18px;
    color: #ff5757;
    margin-top: 8px;
}

.price span{
    font-size: 13px;
    color: gray;
}

.add-btn{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    margin-top: 10px;
}


.slide-btn{
    position: absolute;
    background: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.slide-btn.left{ left: 20px; }
.slide-btn.right{ right: 20px; }


.footer{
    background: #f3f3f3;
    padding: 60px;
    margin-top: 50px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo{
    font-size: 36px;
    font-weight: 700;
}

.footer-text{
    width: 300px;
    margin: 20px 0;
    line-height: 1.5;
    color: #555;
}

.footer-contact{
    margin: 25px 0;
}

.contact-row{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: #333;
}

.contact-icon{
    width: 22px;
    opacity: .8;
}


.send-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid #222;
    background: transparent;
    cursor: pointer;
    margin-top: 15px;
}

.send-btn img{
    width: 20px;
}


.footer-links{
    display: flex;
    gap: 80px;
}

.footer-col h4{
    margin-bottom: 12px;
    font-size: 18px;
}

.footer-col a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.footer-col a:hover{
    color: #0A8A7B;
}


.evz-img{
    width: 140px;
    margin-top: 20px;
}


.footer-bottom{
    margin-top: 40px;
    padding-top: 25px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social img{
    width: 24px;
    margin-left: 12px;
}



@media(max-width: 900px){

    .main-header{
        flex-direction: column;
        gap: 15px;
    }

    .category-nav{
        flex-wrap: wrap;
        gap: 15px;
    }

    .hero{
        flex-direction: column;
        text-align: center;
    }

    .hero-text{
        width: 100%;
    }

    .category-cards{
        flex-wrap: wrap;
        gap: 20px;
    }

    .cat-card{
        width: 45%;
    }

    .info-bar{
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .footer-top{
        flex-direction: column;
        gap: 40px;
    }

    .footer-bottom{
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

@media(max-width: 600px){

    .cat-card{
        width: 100%;
    }

    .section-header,
    .product-slider,
    .info-bar{
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero{
        padding: 30px 20px;
    }

    .main-header{
        padding: 20px;
    }

    .top-bar{
        padding: 10px 20px;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
